.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  padding: 20px;
  justify-content: center; /* Align the grid horizontally to the center */
  align-items: center; /* Align the grid vertically to the center */
  margin: 0 auto;
  max-width: 400px;
}

.tile {
  background-color: #fff;
  box-shadow: 0 2px 4px lightgray;
  width: 120px; /* Set the width of the tiles */
  height: 120px; /* Set the height of the tiles */
  position: relative;
  border-radius: 6px;
  font-size: 12px;
  border :lightgray 1px solid;

}
.tile:hover{
  border :skyblue 1px solid;
  box-shadow: 0 2px 4px skyblue;

}

.tile h2 {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text vertically and horizontally */
}